tramp
var
tangle
straight
projects
transient
org-roam.db
rime
custom.el
eln-cache
auto-save-list
.org-id-locations
bookmarks
private.org
.lsp-session-*
.emacs.desktop
recentf
.local/
request/
network-security.data
tree-sitter/
eshell
elpa
.cache
.dap-breakpoints
.mc-lists.el
org-caldav-*.el
url
eclipse.jdt.ls
multisession
workspace
/cliclhouse.sql
/emacs-gc-stats.eld.gz
/org-caldav-backup.org
/private_template.org
/projectile-bookmarks.eld
/snippets/web-mode/
/themes/phoebe-theme.el
/dape-breakpoints
/projects.bak
/_minted/
/easysession/
